<a href="https://colab.research.google.com/github/Syeda-Eman/40_days_of_Python/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **First Program**

In [ ]:
print(2+3)

5

In [ ]:
print('Hello, world')

Hello, world

In [ ]:
print("On 40 days challenge of learning python")

On 40 days challenge of learning python

# **Operators**

In [ ]:
#Addition
2+2

4

In [ ]:
#Subtraction
3-2

1

In [ ]:
#Multiplication
9*2

18

In [ ]:
#Division
8/2

4.0

In [ ]:
#Remainder
9%2

1

In [ ]:
#Division (double slashes return integer while single returns float num)
6//2

3

In [ ]:
#Power
2**3

8

In [ ]:
#PEMDAS (Parenthesis/Exponents/Multiply/Division/Addition/Subtraction)
print(3**2/2*3/3+6-4)

6.5

# **Strings**

In [ ]:
print('Hello, world')

Hello, world

In [ ]:
print("On 40 days challenge of learning python")

On 40 days challenge of learning python

In [ ]:
print('''Test for tripple quotes''')

Test for tripple quotes

In [ ]:
#spaces will appear as it is
print('   hello')

   hello

In [ ]:
#avoid
#print('What's up?')
#instead try using double quotes
#print("What's up?")

In [ ]:
#real use of tripple quotes
#triple quotes are used to span multiple lines, and they also serve as docstrings.

print(''' Artificial Intelligence (AI) refers to the simulation of human intelligence in machines designed to think and act like humans.
It encompasses various technologies, including machine learning, natural language processing, and robotics, enabling computers to perform tasks that typically require human cognition.
AI is transforming industries by enhancing efficiency, improving decision-making, and enabling personalized experiences.
As it continues to evolve, ethical considerations surrounding its use and impact on society are increasingly important.
The future of AI holds immense potential for innovation and growth across multiple sectors.''')

 Artificial Intelligence (AI) refers to the simulation of human intelligence in machines designed to think and act like humans.
It encompasses various technologies, including machine learning, natural language processing, and robotics, enabling computers to perform tasks that typically require human cognition.
AI is transforming industries by enhancing efficiency, improving decision-making, and enabling personalized experiences.
As it continues to evolve, ethical considerations surrounding its use and impact on society are increasingly important.
The future of AI holds immense potential for innovation and growth across multiple sectors.

# **Comments**

In [ ]:
print("How are you?")
print("Hello world")
print(2+3)

How are you?
Hello world
5

In [ ]:
#if you dont want to print any specefic thing then comment it out using '#' or (Ctrl + /)

print("Hello world")
print("How are you?")
# print(2+3)

Hello world
How are you?

In [ ]:
#you can comment the info which is not part of your code like this statement. If you wont then it will through errors.

# **Variables**

In [ ]:
#variables are objects containing specefic values
x = 5
y = 3

x+y

8

In [ ]:
print(x)

5

In [ ]:
AI = 'Artificial Intelligence (AI) refers to the simulation of human intelligence in machines designed to think and act like humans. It encompasses various technologies, including machine learning, natural language processing, and robotics, enabling computers to perform tasks that typically require human cognition. AI is transforming industries by enhancing efficiency, improving decision-making, and enabling personalized experiences. As it continues to evolve, ethical considerations surrounding its use and impact on society are increasingly important. The future of AI holds immense potential for innovation and growth across multiple sectors.'
print(AI) #we will not use quotes as we dont want to print 'AI'but the thing stored in variable AI

Artificial Intelligence (AI) refers to the simulation of human intelligence in machines designed to think and act like humans. It encompasses various technologies, including machine learning, natural language processing, and robotics, enabling computers to perform tasks that typically require human cognition. AI is transforming industries by enhancing efficiency, improving decision-making, and enabling personalized experiences. As it continues to evolve, ethical considerations surrounding its use and impact on society are increasingly important. The future of AI holds immense potential for innovation and growth across multiple sectors.

In [ ]:
#printing the type of variable

type(x)

print(type(x))

<class 'int'>

In [ ]:
type(AI)

print(type(AI ))

<class 'str'>

In [ ]:
fruit_basket='Mangoes, Apples, Bananas'
print(fruit_basket)
print(type(fruit_basket))

Mangoes, Apples, Bananas
<class 'str'>

In [ ]:
# Rules to assign a variable:
# 1. The variable should contain letters, numbers or underscores
# 2. Do not start the name with numbers
# 3. Avoid spaces and dashes. Use underscore instead
# 4. Do not use keywords like (If, False, Print)
# 5. Name should be short and descriptive
# 6. Case sensitive (Prefer lower case letters for your ease)

![funcs names in python.png]()

# **Input variables**

In [ ]:
toy_basket = "Cars"
print(toy_basket)

Cars

In [ ]:
#input function
toy_basket = input("What is your favourite toy? ")
print(toy_basket)

What is your favourite toy? car
car

In [ ]:
#program from input function
name = input('What is your name? ')
greetings = 'Hello!'

print(greetings, name)

What is your name? Eman
Hello! Eman

In [ ]:
#another way to do the same thing
name = input('What is your name? ')

print('Hello!', name)

What is your name? Eman
Hello! Eman

In [ ]:
#another program from input function
name = input('What is your name? ')
age = input('What is your age?')
greetings = 'Hello!'

print(greetings, name, ", You are still young")

What is your name? Eman
What is your age?15
Hello! Eman , You are still young

# **Conditional Logics**

In [ ]:
# Logical operators are either "True or False", "Yes or No", "0 or 1"
# equal to ==
# not equal to !=
# less than <
# greater than >
# less than and equal to <=
# greater than and equal to >=

In [ ]:
print(4==4)

True

In [ ]:
print(4!=4)

False

In [ ]:
print(4>3)

True

In [ ]:
print(3<6)

True

In [ ]:
print(3>=5)

False

In [ ]:
print(3<=5)

True

In [ ]:
# Application of logical operators
my_age = 4
age_at_school = 5
print(my_age == age_at_school)

False

In [ ]:
#another application of input operator with logicals
age_at_school=5
eman_age=input("How old is eman?") #input function
print(eman_age==age_at_school) #logical operator

#this will give error by giving answer as false only.

How old is eman?5
False

In [ ]:
#Solution to solve this error
age_at_school=5
eman_age=input("How old is eman?") #input function
eman_age=int(eman_age) #changing to integer
print(type(eman_age))
print(eman_age==age_at_school) #logical operator

How old is eman?5
<class 'int'>
True

# **Type Conversion**

In [ ]:
x = 10 #integer
y = 10.2 #float
z = "Hello" #string

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#implicit type conversion
x=x+y
print(x, "Type of x is:", type(x))

20.2 Type of x is: <class 'float'>

In [ ]:
#explicit type conversion
age=input("What is your age? ")
age=int(age)
print(type(age))

What is your age? 15
<class 'int'>

In [ ]:
#explicit type conversion
age=input("What is your age? ")
#age=int(age) not changing it to int will make it a string
print(type(age))

What is your age? 15
<class 'str'>

In [ ]:
#explicit type conversion
#another way of changing type in the print function
age=input("What is your age? ")
print(age, type(int(age)))

What is your age? 15
15 <class 'int'>

# **If, Else, and Elif**

In [ ]:
required_age_at_school = 5
eman_age = 4

In [ ]:
# Can eman go to school?

In [ ]:
if eman_age==required_age_at_school:
    print("Eman can go to school")

In [ ]:
required_age_at_school = 5
eman_age = 5

In [ ]:
# Can eman go to school now?

In [ ]:
if eman_age==required_age_at_school:
    print("Eman can go to school")

Eman can go to school

In [ ]:
required_age_at_school = 5
eman_age = 4
#using if and else
if eman_age==required_age_at_school:
    print("Eman can go to school")
else:
    print("Eman can not go to school")

Eman can not go to school

In [ ]:
required_age_at_school = 5
eman_age = 8
#using if, else, and elif
if eman_age==required_age_at_school:
    print("Eman can go to school")
elif eman_age > required_age_at_school:
    print("She should join Higher secondary school")
else:
    print("Eman can not go to school")

She should join Higher secondary school

In [ ]:
required_age_at_school = 5
eman_age = 3

#using if, else, and 2 times elif
if eman_age==required_age_at_school:
    print("Eman can go to school")
elif eman_age > required_age_at_school:
    print("She should join Higher secondary school")
elif eman_age < required_age_at_school:
    print("She is still a baby.")
else:
    print("Eman can not go to school")

She is still a baby.

# **Functions**

In [ ]:
#printing 5 times
print('My name is Eman')
print('My name is Eman')
print('My name is Eman')
print('My name is Eman')
print('My name is Eman')

My name is Eman
My name is Eman
My name is Eman
My name is Eman
My name is Eman

In [ ]:
#defining a function
def printing():
  print('My name is Eman')
  print('My name is Eman')
  print('My name is Eman')
printing()

My name is Eman
My name is Eman
My name is Eman

In [ ]:
#another way of doing the same thing
def printing():
  text = "My name is Eman"
  print(text)
  print(text)
  print(text)

printing()

My name is Eman
My name is Eman
My name is Eman

In [ ]:
#another way of doing the same thing
def printing(text):
  print(text)
  print(text)
  print(text)

printing("My name is Eman")

My name is Eman
My name is Eman
My name is Eman

In [ ]:
#defining a function with if, elif, and else statement
def school_calculator(age):
    if age==5:
        print("Eman can go to school")
    elif age > 5:
        print("She should join Higher secondary school")
    elif age < 5:
        print("She is still a baby.")
    else:
        print("Eman can not go to school")
school_calculator(2)

She is still a baby.

In [ ]:
#defining a function for future

def future_age(age):
  new_age=age+20
  return new_age
  print(new_age)

future_age(15)

35

# **Loops**

In [ ]:
#While loop

x=0
while (x<5):
  print(x)
  x=x+1

0
1
2
3
4

In [ ]:
#Infinite loop

x=0
while (x<5):
  print(x)

In [ ]:
#for loop
for x in range(5,10):
  print(x)

5
6
7
8
9

In [ ]:
#usage of loops
days = ["Mon", "Tue", "Wed","Thu","Fri","Sat", "Sun"]
for d in days:
  if (d=="Fri"):break #loop stops
  print(d)

Mon
Tue
Wed
Thu

In [ ]:
#usage of loops
days = ["Mon", "Tue", "Wed","Thu","Fri","Sat", "Sun"]
for d in days:
  if (d=="Fri"):continue #skips d
  print(d)

Mon
Tue
Wed
Thu
Sat
Sun

# **Libraries**

In [ ]:
#print the value of pi

import math #importing math library
print("The value od pi is", math.pi)

The value od pi is 3.141592653589793

In [ ]:
import statistics
x = [120, 450, 340, 80]
print(statistics.mean(x))

247.5

In [ ]:
#Note: There are many other useful libraries that we will be discussing in the future

# **Trouble shooting**

In [ ]:
print(I am Eman)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-128-93795b488542>, line 1)

In [ ]:
#fixing syntax error
print("I am Eman")

I am Eman

In [ ]:
print(25/0)

ZeroDivisionError: division by zero

In [ ]:
#resolving runtime or zero division error
print(25/5)

5.0

In [ ]:
name = 'Eman'
print("Hello name")

Hello name

In [ ]:
#solving semantic error which is caused by a human mistake
name = "Eman"
print("Hello", name)
print("Hello"+ name) #the + instead of , will remove the spaces

Hello Eman
HelloEman

In [ ]:
print(grade)

5

In [ ]:
#solving not defined error
grade = 5
print(grade)

5

In [ ]:
result = "5" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
#solving type error
result = int("5") + 5
print(result)

10

In [ ]:
num = int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
#solving value error
num = int("123")
print(num)

123

In [ ]:
my_list = [1, 2, 3]
print(my_list[3])

IndexError: list index out of range

In [ ]:
#solving index error
my_list = [1, 2, 3]
print(my_list[2]) #the count starts from 0 not 1

3

In [ ]:
#-------------The End----------------

# **BMI Calculator**

In [ ]:
#body mass index (BMI)
#weight
#height

In [ ]:
#weight in kg
#height in m square

In [7]:
height = input('What is your height?')

What is your height?5

In [8]:
height = float(height)

In [9]:
weight = input('What is your weight?')

What is your weight?50

In [10]:
weight = float(weight)

In [11]:
name = input('What is your name?')

What is your name?Eman

In [12]:
BMI = weight/height**2
BMI

2.0

In [15]:
print("My name is", name, "and my BMI is", BMI)

My name is Eman and my BMI is 2.0