<a href="https://colab.research.google.com/github/Syeda-Eman/Python-ka-chilla/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **First Program**

In [ ]:
print(2+3)

5

In [ ]:
print('Hello, world')

Hello, world

In [ ]:
print("On 40 days challenge of learning python")

On 40 days challenge of learning python

# **Operators**

In [ ]:
#Addition
2+2

4

In [ ]:
#Subtraction
3-2

1

In [ ]:
#Multiplication
9*2

18

In [ ]:
#Division
8/2

4.0

In [ ]:
#Remainder
9%2

1

In [ ]:
#Division (double slashes return integer while single returns float num)
6//2

3

In [ ]:
#Power
2**3

8

In [ ]:
#PEMDAS (Parenthesis/Exponents/Multiply/Division/Addition/Subtraction)
print(3**2/2*3/3+6-4)

6.5

# **Strings**

In [ ]:
print('Hello, world')

Hello, world

In [ ]:
print("On 40 days challenge of learning python")

On 40 days challenge of learning python

In [ ]:
print('''Test for tripple quotes''')

Test for tripple quotes

In [ ]:
#spaces will appear as it is
print('   hello')

   hello

In [ ]:
#avoid
#print('What's up?')
#instead try using double quotes
#print("What's up?")

In [ ]:
#real use of tripple quotes
#triple quotes are used to span multiple lines, and they also serve as docstrings.

print(''' Artificial Intelligence (AI) refers to the simulation of human intelligence in machines designed to think and act like humans.
It encompasses various technologies, including machine learning, natural language processing, and robotics, enabling computers to perform tasks that typically require human cognition.
AI is transforming industries by enhancing efficiency, improving decision-making, and enabling personalized experiences.
As it continues to evolve, ethical considerations surrounding its use and impact on society are increasingly important.
The future of AI holds immense potential for innovation and growth across multiple sectors.''')

# **Comments**

In [ ]:
print("How are you?")
print("Hello world")
print(2+3)

How are you?
Hello world
5

In [ ]:
#if you dont want to print any specefic thing then comment it out using '#' or (Ctrl + /)

print("Hello world")
print("How are you?")
# print(2+3)

Hello world
How are you?

In [ ]:
#you can comment the info which is not part of your code like this statement. If you wont then it will through errors.

# **Variables**

In [ ]:
#variables are objects containing specefic values
x = 5
y = 3

x+y

8

In [ ]:
print(x)

5

In [ ]:
AI = 'Artificial Intelligence (AI) refers to the simulation of human intelligence in machines designed to think and act like humans. It encompasses various technologies, including machine learning, natural language processing, and robotics, enabling computers to perform tasks that typically require human cognition. AI is transforming industries by enhancing efficiency, improving decision-making, and enabling personalized experiences. As it continues to evolve, ethical considerations surrounding its use and impact on society are increasingly important. The future of AI holds immense potential for innovation and growth across multiple sectors.'
print(AI) #we will not use quotes as we dont want to print 'AI'but the thing stored in variable AI

Artificial Intelligence (AI) refers to the simulation of human intelligence in machines designed to think and act like humans. It encompasses various technologies, including machine learning, natural language processing, and robotics, enabling computers to perform tasks that typically require human cognition. AI is transforming industries by enhancing efficiency, improving decision-making, and enabling personalized experiences. As it continues to evolve, ethical considerations surrounding its use and impact on society are increasingly important. The future of AI holds immense potential for innovation and growth across multiple sectors.

In [ ]:
#printing the type of variable

type(x)

print(type(x))

<class 'int'>

In [ ]:
type(AI)

print(type(AI ))

<class 'str'>

In [ ]:
# Rules to assign a variable:
# 1. The variable should contain letters, numbers or underscores
# 2. Do not start the name with numbers
# 3. Avoid spaces and dashes. Use underscore instead
# 4. Do not use keywords like (If, False, Print)
# 5. Name should be short and descriptive
# 6. Case sensitive (Prefer lower case letters for your ease)

In [ ]:
fruit_basket='Mangoes, Apples, Bananas'
print(fruit_basket)
print(type(fruit_basket))

Mangoes, Apples, Bananas
<class 'str'>

# **Input variables**

In [ ]:
toy_basket = "Cars"
print(toy_basket)

Cars

In [ ]:
#input function
toy_basket = input("What is your favourite toy? ")
print(toy_basket)

What is your favourite toy? Car
Car

In [ ]:
#program from input function
name = input('What is your name? ')
greetings = 'Hello!'

print(greetings, name)

What is your name? Eman
Hello! Eman

In [ ]:
#another way to do the same thing
name = input('What is your name? ')

print('Hello!', name)

What is your name? Eman
Hello! Eman

In [ ]:
#another program from input function
name = input('What is your name? ')
age = input('What is your age?')
greetings = 'Hello!'

print(greetings, name, ", You are still young")

What is your name? Eman
What is your age?15
Hello! Eman , You are still young

# **Conditional Logics**

In [ ]:
# Logical operators are either "True or False", "Yes or No", "0 or 1"
# equal to ==
# not equal to !=
# less than <
# greater than >
# less than and equal to <=
# greater than and equal to >=

In [1]:
print(4==4)

True

In [2]:
print(4!=4)

False

In [3]:
print(4>3)

True

In [4]:
print(3<6)

True

In [5]:
print(3>=5)

False

In [6]:
print(3<=5)

True

In [7]:
# Application of logical operators
my_age = 4
age_at_school = 5
print(my_age == age_at_school)

False

In [13]:
#another application of input operator with logicals
age_at_school=5
eman_age=input("How old is eman?") #input function
print(eman_age==age_at_school) #logical operator

#this will give error by giving answer as false only.

How old is eman?5
False

In [12]:
#Solution to solve this error
age_at_school=5
eman_age=input("How old is eman?") #input function
eman_age=int(eman_age) #changing to integer
print(type(eman_age))
print(eman_age==age_at_school) #logical operator

How old is eman?5
<class 'int'>
True

# **Type Conversion**

In [14]:
x = 10 #integer
y = 10.2 #float
z = "Hello" #string

In [15]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [16]:
#implicit type conversion
x=x+y
print(x, "Type of x is:", type(x))

20.2 Type of x is: <class 'float'>

In [19]:
#explicit type conversion
age=input("What is your age? ")
age=int(age)
print(type(age))

What is your age? 15
<class 'int'>

In [20]:
#explicit type conversion
age=input("What is your age? ")
#age=int(age) not changing it to int will make it a string
print(type(age))

What is your age? 15
<class 'str'>

In [21]:
#explicit type conversion
#another way of changing type in the print function
age=input("What is your age? ")
print(age, type(int(age)))

What is your age? 15
15 <class 'int'>

# **If, Else, and Elif**

In [24]:
required_age_at_school = 5
eman_age = 4

In [23]:
# Can eman go to school?

In [26]:
if eman_age==required_age_at_school:
    print("Eman can go to school")

In [27]:
required_age_at_school = 5
eman_age = 5

In [ ]:
# Can eman go to school now?

In [28]:
if eman_age==required_age_at_school:
    print("Eman can go to school")

Eman can go to school

In [34]:
required_age_at_school = 5
eman_age = 4
#using if and else
if eman_age==required_age_at_school:
    print("Eman can go to school")
else:
    print("Eman can not go to school")

Eman can not go to school

In [35]:
required_age_at_school = 5
eman_age = 8
#using if, else, and elif
if eman_age==required_age_at_school:
    print("Eman can go to school")
elif eman_age > required_age_at_school:
    print("She should join Higher secondary school")
else:
    print("Eman can not go to school")

She should join Higher secondary school

In [36]:
required_age_at_school = 5
eman_age = 3

#using if, else, and 2 times elif
if eman_age==required_age_at_school:
    print("Eman can go to school")
elif eman_age > required_age_at_school:
    print("She should join Higher secondary school")
elif eman_age < required_age_at_school:
    print("She is still a baby.")
else:
    print("Eman can not go to school")

She is still a baby.