<a href="https://colab.research.google.com/github/Syeda-Eman/40-days-of-Python/blob/main/Day_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loop Data Structures**

### **Numpy**

In [11]:
world = {"afghanistan":30.55,
         "albania":2.77,
         "algeria":39.2}

In [12]:
for key, value in world.items():
    print(key + " -- " + str(value))

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.2

In [13]:
for k, v in world.items():
    print(k + " -- " + str(v))

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.2

In [14]:
import numpy as np
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])

In [15]:
bmi = np_weight/np_height ** 2
for val in bmi:
    print(val)

21.85171572722109
20.97505668934241
21.750282138093777
24.74734749867025
21.44127836209856

In [16]:
meas = np.array([np_height, np_weight])
for val in meas:
  print(val)

[1.73 1.68 1.71 1.89 1.79]
[65.4 59.2 63.6 88.4 68.7]

In [19]:
meas = np.array([np_height, np_weight])
for val in np.nditer(meas):
    print(val)

1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.6
88.4
68.7

### **Pandas**

In [ ]:
import pandas as pd