<a href="https://colab.research.google.com/github/Syeda-Eman/40-days-of-Python/blob/main/Day_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Case Study**

In [19]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [21]:
#starting rows of the table
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [22]:
# saving dataframe into csv file
df.to_csv('titanic.csv')

In [23]:
#basic statistics or summary
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [24]:
#dropping few columns and make a new dataset
titanic = df.drop(['deck','alone'],axis=1)
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no

In [25]:
#another way doing the same thing
df.drop(['deck','alone'],axis=1).head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no

In [32]:
titanic.value_counts                                                                     (['survived'])

survived
0           549
1           342
Name: count, dtype: int64

In [30]:
titanic.groupby(['sex']).mean()

TypeError: agg function failed [how->mean,dtype->object]