<a href="https://colab.research.google.com/github/Syeda-Eman/40-days-of-Python/blob/main/Day_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

## **Transforming DataFrames**

In [1]:
#importing pandas library
import pandas as pd

In [5]:
#loading data
dogs = pd.read_csv('/content/dogs.csv')

In [6]:
#printing dataframe
print(dogs)

      Name       Breed  Color  Height (cm)  Weight (kg) Date of Birth
0    Bella    Labrador  Brown           56           25      7/1/2013
1  Charlie      Poodle  Black           43           23     9/16/2016
2     Lucy   Chow Chow  Brown           46           22     8/25/2014
3   Cooper   Schnauzer   Gray           49           17    12/11/2011
4      Max    Labrador  Black           59           29     1/20/2017
5   Stella   Chihuahua    Tan           18            2     4/20/2015
6   Bernie  St.Bernard  White           77           74     2/27/2018

In [7]:
#printing first few rows
print(dogs.head())

      Name      Breed  Color  Height (cm)  Weight (kg) Date of Birth
0    Bella   Labrador  Brown           56           25      7/1/2013
1  Charlie     Poodle  Black           43           23     9/16/2016
2     Lucy  Chow Chow  Brown           46           22     8/25/2014
3   Cooper  Schnauzer   Gray           49           17    12/11/2011
4      Max   Labrador  Black           59           29     1/20/2017

In [8]:
#we can also initialize how manu rows we want to print (Remember the count starts from 0)
print(dogs.head(5))

      Name      Breed  Color  Height (cm)  Weight (kg) Date of Birth
0    Bella   Labrador  Brown           56           25      7/1/2013
1  Charlie     Poodle  Black           43           23     9/16/2016
2     Lucy  Chow Chow  Brown           46           22     8/25/2014
3   Cooper  Schnauzer   Gray           49           17    12/11/2011
4      Max   Labrador  Black           59           29     1/20/2017

In [9]:
#printing last few rows
print(dogs.tail())

     Name       Breed  Color  Height (cm)  Weight (kg) Date of Birth
2    Lucy   Chow Chow  Brown           46           22     8/25/2014
3  Cooper   Schnauzer   Gray           49           17    12/11/2011
4     Max    Labrador  Black           59           29     1/20/2017
5  Stella   Chihuahua    Tan           18            2     4/20/2015
6  Bernie  St.Bernard  White           77           74     2/27/2018

In [10]:
#to get info about your data
print(dogs.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           7 non-null      object
 1   Breed          7 non-null      object
 2   Color          7 non-null      object
 3   Height (cm)    7 non-null      int64
 4   Weight (kg)    7 non-null      int64
 5   Date of Birth  7 non-null      object
dtypes: int64(2), object(4)
memory usage: 468.0+ bytes
None

In [12]:
#to check the num of rows and columns
#its an attribute instead of method so you write it without parantheses
print(dogs.shape)

(7, 6)

In [13]:
#to get a summary of data
print(dogs.describe())

       Height (cm)  Weight (kg)
count     7.000000     7.000000
mean     49.714286    27.428571
std      17.960274    22.292429
min      18.000000     2.000000
25%      44.500000    19.500000
50%      49.000000    23.000000
75%      57.500000    27.000000
max      77.000000    74.000000

In [15]:
#to check the values
print(dogs.values)

[['Bella' 'Labrador' 'Brown' 56 25 '7/1/2013']
 ['Charlie' 'Poodle' 'Black' 43 23 '9/16/2016']
 ['Lucy' 'Chow Chow' 'Brown' 46 22 '8/25/2014']
 ['Cooper' 'Schnauzer' 'Gray' 49 17 '12/11/2011']
 ['Max' 'Labrador' 'Black' 59 29 '1/20/2017']
 ['Stella' 'Chihuahua' 'Tan' 18 2 '4/20/2015']
 ['Bernie' 'St.Bernard' 'White' 77 74 '2/27/2018']]

In [16]:
#to check the columns
print(dogs.columns)

Index(['Name', 'Breed', 'Color', 'Height (cm)', 'Weight (kg)',
       'Date of Birth'],
      dtype='object')

In [17]:
#checking the index
print(dogs.index)

RangeIndex(start=0, stop=7, step=1)

In [21]:
#renaming some columns for smooth analysis
dogs.rename(columns={"Height (cm)": "Height_cm", "Weight (kg)": "Weight_kg", "Date of Birth":"Date_of_birth"})

      Name       Breed  Color  Height_cm  Weight_kg Date_of_birth
0    Bella    Labrador  Brown         56         25      7/1/2013
1  Charlie      Poodle  Black         43         23     9/16/2016
2     Lucy   Chow Chow  Brown         46         22     8/25/2014
3   Cooper   Schnauzer   Gray         49         17    12/11/2011
4      Max    Labrador  Black         59         29     1/20/2017
5   Stella   Chihuahua    Tan         18          2     4/20/2015
6   Bernie  St.Bernard  White         77         74     2/27/2018

In [27]:
#sorting rows
dogs.sort_values("Weight_kg")

KeyError: 'Weight_kg'